#logo-container{
    margin: 0 auto;
}
#logo{
    width: 300px;
    margin: 0 auto;
}

aside{
    width: 25vw;
    height: 100vh;
    float: left;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #9fa8da;
}